html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, dd, dt, dl, table, tr, td, th, p, span, strong, small, a, img, form  {margin: 0px; padding: 0px;}
body {font: normal 15px/24px Arial,Tahoma,Verdana,sans-serif; color: #000; background-image: url("../images/fon_summer.jpg"); background-repeat: no-repeat; background-position: 50% 0;  min-width: 1000px; position: relative; height: 100%;}
table {font: normal 15px/24px Arial,Tahoma,Verdana,sans-serif; color: #000;}
a {color: #000; text-decoration: none}
a:link {color: #000; text-decoration: none}
a:hover {text-decoration: underline}
#wrap {height: 100%; position: relative; width: 900px; padding:0 20px; margin: 0 auto;}
/* Menu */
.header {position:relative; height:92px;}
	.menu {position:absolute; margin-top: 5px; width:100%; /* background: url("../images/menu.png") repeat-x #E5E5E5;*/ 
background: rgb(242,248,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,248,252,1) 0%, rgba(194,232,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,248,252,1)), color-stop(100%,rgba(194,232,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(194,232,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(194,232,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(194,232,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,248,252,1) 0%,rgba(194,232,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8fc', endColorstr='#c2e8f9',GradientType=0 ); /* IE6-9 */
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	}
	.menu table {width:100%; border-collapse: collapse; border:none; text-align:center;}
	.menu td {}
	.menu a {padding:24px 18px 24px; border-left: 1px solid #fcfcfc; border-right: 1px solid #9bcff2; color: #000; display: block; font-size: 24px; line-height: 28px; font-weight: bold; text-decoration: none;}
	.ie6 .menu a {height: 31px;}
	/*.menu a:hover, .menu a:active {background: #9c9c9c; color:#fff; border-color:#249dfb; text-shadow: #249dfb 0 0 25px;} */
	.menu a:hover{
background: rgb(242,248,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,248,252,1) 0%, rgba(123,210,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,248,252,1)), color-stop(100%,rgba(123,210,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(123,210,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(123,210,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,248,252,1) 0%,rgba(123,210,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,248,252,1) 0%,rgba(123,210,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8fc', endColorstr='#7bd2f7',GradientType=0 ); /* IE6-9 */

	}
	.menu td:first-child a  {border-left:none;}
	.menu td:last-child a {border-right:none;}
	.menu td:first-child a:hover  {border-radius:10px 0 0 10px; -webkit-border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px; -khtml-border-radius:10px 0 0 10px;}
	.menu td:last-child a:hover {border-radius:0 10px 10px 0; -webkit-border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0; -khtml-border-radius:0 10px 10px 0;}
/* Шапка малая с контактами*/
.header_bottom {float: right; width: 310px; height: 60px; background-image: url("../images/address_top.gif");}
/* /Шапка малая с контактами*/

/* Обратный звонок  left: 905px; top: 8px;* /

/* Логотип 
.logo {
background-image: url("../images/logo3.png");
width: 180px; height: 120px;
 position: relative; right: 180px; bottom: 20px;
}*/ 
/* / Логотип */
.button_callme {

 position: relative; right: 175px; top: 50px;
}
.bblue_btn {
background: rgb(254,252,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	font-weight: bold;
  color: #000;
  font-size: 18px;
  padding: 20px 10px;
  border: #cbad91 solid 2px;
  text-decoration: none;
  display:inline-block;
  cursor:pointer;
}
.bblue_btn:hover {
background: rgb(178,225,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border: #000 solid 2px;

  text-decoration: none;
  color: #000;
}
/* /Обратный звонок*/

/* contacts */
.contacts {position:relative; 
	margin: 0 0 10px 0;
	background: #f9f9e0; /* f0f0f0 */
	padding: 10px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */}
.contacts div {float: left; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -khtml-border-radius:2px;
	background: #fff;
	padding: 10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
/* /contacts */
/* /Menu */
.content {position:relative; min-height:700px; top: 20px;}
.content h1 {font-size: 21px; color: #ffe8ce;}
.content h1 a {text-decoration: underline; color: #ffe8ce}
.content h1 a:hover {color: #fff; text-decoration: none}
.square {
	margin: 30px 0 70px 0;
	background: #f9f9e0; /* f0f0f0 */
	padding: 50px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	}
.square a {text-decoration: underline; color: #FF8000}
.square a:hover {color: #9d4f00; text-decoration: none}
/* Копирайт */
.copyrigh {height:120px;}
.copyrigh .basic {background: #bfaf93; padding: 10px 0; height:90px; width: 900px;
	border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	}
.copyrigh span {font-size: 10px; text-align: center; color: #5e4326;}
.copyrigh a {color: #5e4326;}
.copyrigh ul li {display: inline; list-style-type: none; margin-left: 25px;}
.copyrigh address {float: right; margin-right: 25px;}
.statistics {margin: 10px 0 0 25px; clear: both;}
.statistics a { text-decoration: none; }
.statistics img { border: 0; vertical-align: middle; }
/* /Копирайт */
 /* p{text-indent: 1.5em;}  Отступ первой строки */
#action {text-align: center; font-size: 25px; color: #ff0000}

/* ===== МОБИЛЬНАЯ АДАПТАЦИЯ ===== */
@media (max-width: 960px) {
  body {
    min-width: 0;
    background-size: cover;
    background-attachment: scroll;
  }
  #wrap {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  /* Навигация */
  .header {
    height: auto;
    position: relative;
  }
  .menu {
    position: relative;
    margin-top: 0;
    border-radius: 8px;
  }
  .menu table,
  .menu table tbody,
  .menu table tr,
  .menu table td {
    display: block;
    width: 100%;
  }
  .menu a {
    font-size: 17px;
    line-height: 20px;
    padding: 14px 16px;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(155,207,242,0.5);
    text-align: center;
  }
  .menu td:first-child a { border-top: none; }
  .menu td:last-child a { border-bottom: none; }
  .menu td:first-child a:hover,
  .menu td:last-child a:hover {
    border-radius: 0;
  }

  .header_bottom { display: none; }
  .logo { display: none; }

  /* Контент */
  .content {
    top: 10px;
    min-height: auto;
  }
  .content h1 {
    font-size: 18px;
    line-height: 1.3;
    word-wrap: break-word;
  }
  .square {
    margin: 15px 0 40px;
    padding: 16px;
    border-radius: 8px;
  }

  /* Подвал */
  .copyrigh {
    height: auto;
    margin-top: 20px;
  }
  .copyrigh .basic {
    width: 100%;
    height: auto;
    padding: 16px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
  }
  .copyrigh address {
    float: none;
    margin: 0 0 12px 0;
    text-align: center;
  }
  .copyrigh ul {
    padding: 0;
    margin: 10px 0 0;
  }
  .copyrigh ul li {
    display: inline-block;
    margin: 4px 8px;
  }
  .copyrigh span {
    font-size: 11px;
  }

  /* Общие: изображения и таблицы */
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
  }

  /* Каталог: блоки товаров */
  .block1, .block2 {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .block1 div, .block2 div {
    height: auto;
    margin-bottom: 15px;
  }
  .block1 dl, .block2 dl {
    height: auto;
    padding: 10px;
  }
  .action {
    margin-left: auto;
    margin-top: -30px;
    position: absolute;
    right: 10px;
  }

  /* Меню категорий (бани/дома) */
  .menu-bani {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .menu-bani div {
    width: 100%;
  }

  /* Галерея */
  .menu-galery {
    float: none;
    display: inline-block;
    margin: 0 8px 20px;
    width: calc(50% - 20px);
    vertical-align: top;
  }
  .menu-galery div {
    width: 100%;
  }

  /* Страницы отдельных бань */
  .poyas img {
    max-width: 100%;
    height: auto;
    margin: 8px 8px 0 0;
  }
  .tablebasic table,
  .tablebasic-1 table {
    width: 100%;
    font-size: 13px;
  }
  .tablebasic-1 table {
    width: 100%;
    height: auto;
  }
  .cost {
    float: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 8px;
  }
  .stock {
    float: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .vk_comments {
    float: none;
    width: 100%;
  }

  /* Таблицы перевозных бань */
  .tablebasic2018 table {
    width: 100%;
  }
  .tablebasic2018 table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .table_photo {
    width: 100%;
  }
  .table_photo td {
    display: block;
    width: 100%;
  }

  /* Перевозные бани */
  .block_bani {
    width: 100%;
    box-sizing: border-box;
  }
  .block_bani img {
    max-width: 100%;
    height: auto;
  }

  /* Контакты */
  #map {
    width: 100%;
    height: 300px;
  }
  #map iframe,
  #map script + div {
    width: 100% !important;
  }

  /* VK виджет */
  #vk_groups {
    width: 100% !important;
  }
  #vk_groups iframe {
    width: 100% !important;
  }

  /* Help секции */
  .section {
    margin-bottom: 15px;
  }
  .section img {
    display: block;
    margin: 0 auto 8px;
  }

  /* Формы */
  form {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  form .input,
  form textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

/* Ещё уже: телефоны */
@media (max-width: 480px) {
  .menu a {
    font-size: 15px;
    padding: 12px 10px;
  }
  .content h1 {
    font-size: 16px;
  }
  .square {
    padding: 12px;
  }
  .square dl dt {
    font-size: 20px;
  }
  .square .size {
    font-size: 15px;
  }
  .square .cost {
    font-size: 22px;
  }
  .menu-galery {
    width: 100%;
    margin: 0 0 16px;
    display: block;
  }
  .copyrigh ul li {
    display: block;
    margin: 6px 0;
  }
}