.square .section {float:left; width: 220px; margin: 0 0 30px 40px;}
.square .section img {margin-bottom: 10px;}
.square .section ul li {list-style-type: circle; margin: 10px 0 0 20px; font-size: 20px}
.square .section a {font-size: 16px; color: #592720;}
.square .section a:hover {color: #964B00;}
.square .section .special_link {color: #4d7198;}
.square .section .special_link_2 {color: #FF8000;}


